:root {
  --background: #fff;
  --text: #252a34;
  --accent: #bbc2ce;
  --link: #2835e6;

  --font-size: 20px;
  --margin: 10%;
  --indent: 2rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252a34;
    --text: #e7eef3;
    --accent: #939ca3;
    --link: #08d9d6;
  }

  html {
    color-scheme: dark;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font-size: 18px;
    --margin: 5px;
    --indent: 0rem;
  }
}

html {
  font-family: "JetBrains Mono", "Zen Kaku Gothic New";
  font-feature-settings: "palt";

  font-size: var(--font-size);

  max-width: 1024px;
  margin: 0 var(--margin);

  overflow-y: scroll;

  background-color: var(--background);
  color: var(--text);
}

body {
  margin: 0;
}

main p,
main ul {
  margin-left: var(--indent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2::before,
h3::before {
  color: var(--accent);
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h2::before {
  content: "## ";
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3::before {
  content: "### ";
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  overflow-wrap: break-word;
}
