:root {
  --background: #f6f6f6;
  --foreground: #38363d;
  --link: #5f53ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171619;
    --foreground: #f1f1f1;
    --link: #6fc9e9;
  }

  html {
    color-scheme: dark;
  }
}

html {
  font-family: sans-serif;
  font-feature-settings: "palt";

  font-size: 20px;

  max-width: 768px;
  margin: 0 auto;

  overflow-y: scroll;

  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
